name: Build

on:
  push:
    branches: ["main"]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain.toml"
      - "src/**"
      - "assets/**"
      - "locale/**"
      - ".github/workflows/build.yml"

  pull_request:
    branches: ["main"]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain.toml"
      - "src/**"
      - "assets/**"
      - "locale/**"
      - ".github/workflows/build.yml"

  workflow_call:

env:
  CARGO_TERM_COLOR: always
  VERSION: 0.0.1

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: Swatinem/rust-cache@v2

      - name: Build
        shell: bash
        run: cargo build --release

      - name: Upload artifact (windows)
        uses: actions/upload-artifact@v5
        if: startsWith(matrix.os, 'windows')
        with:
          name: artifact-windows
          path: ./target/release/dfint-installer.exe

      - name: Upload artifact (linux)
        uses: actions/upload-artifact@v5
        if: startsWith(matrix.os, 'ubuntu')
        with:
          name: artifact-linux
          path: ./target/release/dfint-installer
