name: Release Check

on:
  release:
    types: [published]

jobs:
  virustotal:
    runs-on: ubuntu-latest
    steps:
      - name: Unpack files
        run: |
          tar -xvf dfint-installer*.tar.gz
          unzip dfint-installer*.zip

      - name: VirusTotal Scan
        uses: crazy-max/ghaction-virustotal@v4
        with:
          vt_api_key: ${{ secrets.VIRUSTOTAL_API_KEY }}
          update_release_body: true
          files: |
            dfint-installer*
