name: Update App Source Language File

on:
  push:
    branches: ["main"]
    paths:
      - "src/*.rs"
      - "scripts/extract_locale_strings.py"
      - ".github/workflows/update-app-source-language-file.yml"

jobs:
  push:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    
    steps:
      - uses: actions/checkout@v6
  
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
  
      - name: Extract localizable strings
        run: python scripts/extract_locale_strings.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Update source language file
          commit-message: Update source language file
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          add-paths: locale/en.json
          delete-branch: true
